*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(43, 255, 0);
    /* height: 4000px; */
}

header {
    width: 1135px;
    height: 115px;
    background: blueviolet;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.aluraGeek {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: greenyellow;
}

#pesquisa {
    width: 393px;
    height: 40px;
    border-radius: 15px;

}

.login {
    flex-direction: column;

}

.container-banner {
    height: 352px;
    width: 100%;
    overflow: hidden;
    background: url("./img/hero.jpeg") no-repeat center;
    background-size: cover;
}


#banner {
    width: 100%;
}

.container-produtos {
    width: 1135px;
    background: rgb(181, 136, 224);
    margin: 0 auto;
}

.produtos {
    padding: 48px 0;
}

.produto-txt {
    width: 100%;
}


.produto-img {
    width: 1135px;
    margin-top: 16px;
    flex-direction: column;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0;
    background: #EAF2FD;
}

footer h3 {
    width: 100%;
    height: 368px;
    margin: 0 auto;
    color: #464646;
    text-align: center;
    font-size: 16px;
    padding: 32px 0;
    
}
